.page {
  display: flex;
  justify-content: center;
}
.template {
  height: 4604px;
  width: 60%;
  border-radius: 0px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.nav_header {
  display: flex;
  list-style-type: none;
  padding: 12px 24px;
  width: 368px;
  line-height: 19px;
}
/* HEADER */
li {
  padding: 15px 20px;
}

.slider-image {
  width: 110%;
  height: auto;
}

/* BODY */
.body {
  margin: 40px;
}
.searchButton {
  width: 30%;
  height: 35px;
}
.menu_left {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.post-item {
  width: 235px;
  height: 250px;
  background-color: aqua;
}
